body{
    padding-right: 2em;
    padding-left: 2em;
    padding-bottom: 2rem;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    font-family: "Arvo", sans-serif;
    color: #000000;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px; /* or 160% */
    letter-spacing: 0.03em;
  }

/* 🌸 Spring 🌸 */
.spring{
    background-image: url("background/backgroundSpring.png");
}

/* .spring-button {
    background-color: #b8776d;
    border-color: #b8776d;
    Animation color: f5d3ce
}

.spring-button :hover {
    background-color: #b8776d;
    border-color: #b8776d;   
} */

/* ☀️ Summer ☀️ */
.summer {
    background-image: url("background/backgroundSummer.png");
}
/* Snow color: #aae6ba */

/* 🍁 Autumn 🍁 */
.autumn{
    background-image: url("background/backgroundAutumn.png");
}

/* ❄️ Winter ❄️ */
.winter{
    background-image: url("background/backgroundWinter.png");
}

.container {
    margin-bottom: 2rem;
}

img {
    align-self: center;
    width: 100%;
    height: auto;
}

/* 📘 Typography */
h1 {
    font-family: "Arvo", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 72px;
    /* identical to box height */
    letter-spacing: 0.03em;
}

/* 🍡 UI elements */
.nav {
    border-radius: 8px;
}

/* 🧭Navigation bar */

/* 🍱 Spacing and layout */
.flex-container {
    padding-top: 3rem;
    display: flex;
    width: 100%;
}

.flex-item {
    margin-right: 3rem;
    padding-bottom: 3rem;
    padding-right: 0rem;
}