body{
    padding-right: 2em;
    padding-left: 2em;
    padding-bottom: 2rem;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    font-family: "Arvo", sans-serif;
    color: #000000;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px; /* or 160% */
    letter-spacing: 0.03em;
    background-image: url("background/backgroundAutumn.png");
  }

img {
    align-self: center;
    width: 100%;
    height: auto;
}

/* 📘 Typography */
h1 {
    font-family: "Arvo", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 72px;
    /* identical to box height */
    letter-spacing: 0.03em;
}

/* 🍡 UI elements */
.nav {
    background-color: #814227;
    margin-top: 0px;
    min-height: 3rem;
}

/* 🧭Navigation bar */

/* 🍱 Spacing and layout */
.flex-container {
    padding-top: 3rem;
    display: flex;
    width: 100%;
}

.flex-item {
    margin-right: 3rem;
    padding-bottom: 3rem;
    padding-right: 0rem;
}